* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}
#text {
  word-break: break-all;
}
#wrapper {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#taiji {
  position: absolute;
  margin: 0 auto;
  top: 25%;
  left: 25%;
  /* transform: translate(-50%, -50%, 0); */
}
#taiji::before {
  display: block;
  content: '';
  position: absolute;
}
#taiji::after {
  display: block;
  content: '';
  position: absolute;
}
@keyframes ro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 500px) {
  #text {
    height: 50vh;
    overflow: auto;
  }

  #wrapper {
    position: relative;
    left: 0;
    transform: translateX(0);
    width: 100vw;
    height: 50vh;
  }
}
